<%- include('partes/head') %>
<link rel='stylesheet' type='text/css' media='screen' href='/css/404.css'>

</head>

<body>
    <div class="card card-404 shadow rounded">
        <div class="card-body">
            <img src="/images/404.png" height="130px">
            <h4 class="card-title title-login text-danger">4<span class="text-dark">0</span>4</h4>
            <p>Não encontramos sua requisição!</p>

            <a href="/" class="btn btn-danger btn-block "><i class="fas fa-home"></i>
                Retornar para a Página Inicial</a>



        </div>

    </div>

    <div class="footer-rl text-light">© 2019 Antigomobilistas de Osório S.A.<br> Todos os direitos reservados:
        <a href="/" class="text-muted" id="link-login"> Antigomobilistasdeosorio.com</a>
    </div>
</body>

</html>