body{
    background-image: url("/images/wallpaper-login.jpg");
    background-attachment: fixed;
    background-size: cover;

}
.card-register{
    width: 500px;
    margin-left: auto;
    margin-right:auto ;
    margin-top: 5%;
}
#form-table{
    width: 100%;
}
.title-login{
    text-align: center;
}
#uf[readonly] {
    pointer-events: none;
    touch-action: none;
}