<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto ml-auto">
      <li class="nav-item">
        <a class="navbar-brand p-3" href="/"><img id="logo" src="/images/logo.png" height="65"></a>
      </li>
    </ul>
  </div>
</nav>